# PostgreSQL Database connection string
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cp_intelligence?schema=public"

# NextAuth / Session Secret
NEXTAUTH_SECRET="your-32-character-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"
